@import "bourbon/bourbon";
@import "neat/neat";

body {
  margin: 0 auto;
}

.wrapper {
  @include outer-container;
}

header {
  @include span-columns(12);
  background-color: #FFAECF;
}

header h1 {
  margin-left: 20px;
  font-family: 'Courgette', cursive;
  color: pink;
  text-shadow: 2px 2px #FF99BA;
}

.writer {
  font-size: 68px;
  font-family: 'Open Sans', sans-serif;
  margin-left: 50px;
}

.letterzone {
  @include span-columns(12);
  text-align: center;
}

.letter {
  @include span-columns(3);
  margin-left: 70px;
  font-family: 'Open Sans', sans-serif;
  font-size: 68px;
  cursor: default;
  //border: 1px solid #000;
}

.letter:hover {
  color: #91DA48;
}

footer {
  @include span-columns(12);
  margin-top: 150px;
}
